#barra-menu {
  background: #2c3e50;
  padding: 20px;
}
#barra-menu button {
  background: none;
}
#barra-menu button:hover {
  border: 1px solid #20c997;
}
#barra-menu button:hover span {
  color: #20c997;
}
#barra-menu span {
  color: white;
}
#barra-menu a {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 32px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  #barra-menu a {
    font-size: 20px;
  }
}
#barra-menu li a {
  font-size: 16px;
}
@media (max-width: 991px) {
  #barra-menu li a {
    font-size: 13px;
  }
}
#barra-menu li a:hover {
  color: #20c997;
}

#sec-1 {
  padding-top: 180px;
  background: #20c997;
  padding-bottom: 100px;
  color: white;
}
#sec-1 h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
}
@media (max-width: 991px) {
  #sec-1 h1 {
    font-size: 56px;
  }
}
#sec-1 span {
  font-size: 32px;
  padding-bottom: 32px;
}
#sec-1 h2 {
  font-size: 32px;
}
@media (max-width: 991px) {
  #sec-1 h2 {
    font-size: 24px;
  }
}

#sec-2 {
  color: #2c3e50;
  padding-top: 25px;
  color: #2c3f50;
}
#sec-2 h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 991px) {
  #sec-2 h2 {
    font-size: 40px;
  }
}
#sec-2 span {
  font-size: 30px;
}
#sec-2 div {
  margin-bottom: 32px;
}

#sec-3 {
  background: #20c997;
  padding: 64px 0px 96px 0px;
  color: white;
}
#sec-3 h2 {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  #sec-3 h2 {
    font-size: 40px;
  }
}
#sec-3 span {
  font-size: 32px;
  padding-bottom: 32px;
}
#sec-3 article {
  font-size: 20px;
  line-height: 150%;
}
#sec-3 button {
  margin-top: 32px;
  background: none;
  border: 1px solid white;
  padding: 20px 40px;
}
#sec-3 button:hover {
  background: white;
  color: black;
}
#sec-3 button span {
  margin: 0px 0px 0px 10px;
}
#sec-3 button i, #sec-3 button span {
  font-size: 20px;
}

#sec-4 {
  color: #2c3e50;
  padding-bottom: 50px;
}
#sec-4 h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 991px) {
  #sec-4 h2 {
    font-size: 40px;
  }
}
#sec-4 span {
  font-size: 32px;
  padding-bottom: 32px;
}
#sec-4 input, #sec-4 textarea {
  padding-bottom: 16px;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgba(71, 100, 129, 0.3);
}
#sec-4 input::placeholder, #sec-4 textarea::placeholder {
  font-size: 24px;
  color: rgba(58, 82, 106, 0.8);
}
#sec-4 button {
  padding: 20px 25px;
  background: #20c997;
  color: white;
  font-size: 20px;
}
#sec-4 button:hover {
  background: #199d76;
}

#sec-5 {
  background: #2c3e50;
  color: white;
  padding-bottom: 56px;
}
#sec-5 h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 991px) {
  #sec-5 h2 {
    font-size: 24px;
  }
}
#sec-5 li {
  width: 40px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid white;
}
#sec-5 li:hover {
  background: white;
}
#sec-5 li:hover a {
  color: black;
}
#sec-5 li a {
  display: inline-block;
  padding-top: 2px;
  color: white;
  font-size: 24px;
}
#sec-5 address {
  font-size: 16px;
  letter-spacing: 1px;
}
#sec-5 p {
  font-size: 20px;
  letter-spacing: 1px;
}
@media (max-width: 535px) {
  #sec-5 p {
    font-size: 16px;
  }
}
#sec-5 p a {
  color: #20c997;
}
#sec-5 p a:hover {
  color: #199d76;
}

#sec-6 {
  color: white;
  background: #1a252f;
  padding-top: 15px;
  padding-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
