#barra-menu {
  background: #2c3e50;
  padding: 20px;
}
#barra-menu div {
  border: none;
  box-shadow: none;
}
#barra-menu button {
  background: none;
  transition: 0.2s;
}
#barra-menu button:hover {
  border: 1px solid #20c997;
}
#barra-menu button:hover span {
  color: #20c997;
}
#barra-menu span {
  color: white;
}
#barra-menu a {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 32px;
}
@media (max-width: 991px) {
  #barra-menu a {
    font-size: 20px;
  }
}
#barra-menu li a {
  font-size: 16px;
}
@media (max-width: 1018px) {
  #barra-menu li a {
    font-size: 13px;
  }
}
#barra-menu li a:hover {
  color: #20c997;
  text-decoration: line-through;
}

#sec-1 {
  padding-top: 180px;
  background: #20c997;
  padding-bottom: 100px;
  color: white;
}
#sec-1 h1 {
  font-weight: bold;
  font-size: 80px;
}
@media (max-width: 991px) {
  #sec-1 h1 {
    font-size: 56px;
  }
}
#sec-1 span {
  font-size: 32px;
  padding-bottom: 32px;
}
#sec-1 h2 {
  font-size: 32px;
}
@media (max-width: 991px) {
  #sec-1 h2 {
    font-size: 24px;
  }
}

#sec-2 {
  padding-top: 25px;
  color: #2c3e50;
}
#sec-2 h2 {
  font-size: 48px;
  font-weight: bold;
}
@media (max-width: 991px) {
  #sec-2 h2 {
    font-size: 40px;
  }
}
#sec-2 span {
  font-size: 30px;
}
#sec-2 div {
  margin-bottom: 32px;
}
#sec-2 .over {
  position: relative;
}
#sec-2 .over .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #20c997;
  opacity: 0;
}
#sec-2 .over .overlay i {
  font-size: 56px;
  color: white;
}
#sec-2 .over:hover .overlay {
  opacity: 0.8;
}

.modal h2 {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 48px;
  color: #31465a;
}
@media (max-width: 991px) {
  .modal h2 {
    font-size: 32px;
  }
}
.modal i {
  font-size: 32px;
  color: #31465a;
}
.modal .close {
  color: #20c997;
  opacity: 1;
  font-size: 64px;
  transition: 0.5;
}
.modal .close:hover {
  color: #199d76;
}
.modal .modal-header {
  margin-top: 24px;
  border: none;
}
.modal .modal-body {
  border: none;
}
.modal .modal-body p {
  margin-top: 24px;
}
.modal .modal-footer {
  border: none;
}
.modal .modal-footer button {
  background: #20c997;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  transition: 0.4s;
}
.modal .modal-footer button:hover {
  background: #199d76;
}

#sec-3 {
  background: #20c997;
  padding: 64px 0px 96px 0px;
  color: white;
}
#sec-3 h2 {
  font-weight: bold;
  font-size: 48px;
}
@media (max-width: 991px) {
  #sec-3 h2 {
    font-size: 40px;
  }
}
#sec-3 span {
  font-size: 32px;
  padding-bottom: 32px;
}
#sec-3 article {
  font-size: 20px;
  line-height: 150%;
}
#sec-3 button {
  margin-top: 32px;
  background: none;
  border: 1px solid white;
  padding: 20px 40px;
  transition: 0.4s;
}
#sec-3 button:hover {
  background: white;
  color: black;
}
#sec-3 button span {
  margin: 0px 0px 0px 10px;
}
#sec-3 button i, #sec-3 button span {
  font-size: 20px;
}

#sec-4 {
  color: #2c3e50;
  padding-bottom: 50px;
}
#sec-4 h2 {
  font-size: 48px;
  font-weight: bold;
}
@media (max-width: 991px) {
  #sec-4 h2 {
    font-size: 40px;
  }
}
#sec-4 span {
  font-size: 32px;
  padding-bottom: 32px;
}
#sec-4 input, #sec-4 textarea {
  font-size: 24px;
  color: #2c3e50;
  padding-bottom: 16px;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgba(62, 88, 113, 0.2);
}
#sec-4 input::placeholder, #sec-4 textarea::placeholder {
  font-size: 24px;
  color: #698bac;
}
#sec-4 button {
  padding: 20px 25px;
  background: #20c997;
  color: white;
  font-size: 20px;
  transition: 0.4s;
}
#sec-4 button:hover {
  background: #199d76;
}

#sec-5 {
  background: #2c3e50;
  color: white;
  padding: 56px 0px;
}
#sec-5 h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 16px;
}
@media (max-width: 991px) {
  #sec-5 h2 {
    font-size: 24px;
  }
}
#sec-5 ul {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
#sec-5 ul li {
  width: 56px;
  border-radius: 50%;
  border: 2px solid white;
  transition: 0.3s;
}
#sec-5 ul li:hover {
  background: white;
}
#sec-5 ul li:hover a {
  color: black;
}
#sec-5 ul li a {
  align-self: center;
  display: inline-block;
  padding: 8px 0px;
  color: white;
  font-size: 24px;
}
#sec-5 address {
  font-size: 16px;
  letter-spacing: 1px;
}
#sec-5 p {
  font-size: 20px;
  letter-spacing: 1px;
}
@media (max-width: 535px) {
  #sec-5 p {
    font-size: 16px;
  }
}
#sec-5 p a {
  color: #20c997;
}
#sec-5 p a:hover {
  color: #199d76;
  text-decoration: line-through;
}

#sec-6 {
  color: white;
  background: #1a252f;
  padding-top: 15px;
  padding-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
